@import url(./normalize.css);

@font-face {
    font-family: 'NAMU Pro';
    src: url('./fonts/NAMU-Pro.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard Soft M Light';
    src: url('./fonts/MazzardSoftM-Light.ttf');
    font-style: normal;
}

* {
    box-sizing: border-box;
}


h2,
h3,
.title,
.subTitle,
.inputText,
.offerTitle {
    font-family: 'NAMU Pro';
}

p,
.small,
.big,
.profileMenu,
.newsText,
.description,
.categoryText,
.navCategory,
.newsTitle,
.newsRating {
    font-family: 'Mazzard Soft M Light';
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

.subTitle,
.small {
    font-size: 20px;
}

.inputText,
.newsRating {
    font-size: 13px;
}

p,
.description,
.offerTitle {
    font-size: 24px;
}

.big,
.categoryText,
.navCategory,
.title {
    font-size: 32px;
}

.profileMenu,
.newsText {
    font-size: 14px;
}

.newsTitle {
    font-size: 15px;
}