@import url(./normalize.css);

@font-face {
    font-family: 'NAMU Pro';
    src: url('./fonts/NAMU-Pro.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Mazzard Soft M Light';
    src: url('./fonts/MazzardSoftM-Light.ttf');
    font-style: normal;
}

* {
    box-sizing: border-box;
}


h2,
h3,
.title,
.subTitle,
.inputText {
    font-family: 'NAMU Pro';
}

p,
.small,
.big,
.profileMenu,
.newsText {
    font-family: 'Mazzard Soft M Light';
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 36px;
}

.title {
    font-size: 32px;
}

.subTitle {
    font-size: 20px;
}

.inputText {
    font-size: 13px;
}

p {
    font-size: 24px;
}

.small {
    font-size: 20px;
}

.big {
    font-size: 32px;
}

.profileMenu {
    font-size: 14px;
}

.newsText {
    font-size: 14px;
}